
body
{
	background-color: #000000;
	color: white;
	margin: 0px;
	padding: 0px;
}

#allcontent
{
	width: 480px;
	height: 800px;

	padding: 0px;
	
	margin: 0px;
	margin-left : auto;
	margin-right : auto;

	border: 0px;
	
	background-color: red;
}

#mycanvas
{
	width: 480px;
	height: 400px; 
	padding: 0px;
	margin: 0px;
	
}

#controller
{
	width: 100%;
	height: 70px;
	
	padding: 0px;
	margin: 0px;
	margin-left : auto;
	margin-right : auto;
}

#inputTable
{
	width: 100%;
	height: 70px;
	background-color: white;
	border-collapse: collapse;
}

#inputPadZ, #inputPadX, #inputPadC, #inputPadV
{
	width:110px;
	height:70px;
	background-color: red;
}
#inputPad1
{
	background-color: #0099cc;
}
#inputPad2
{
	background-color: #9933cc;
}
#inputPad3
{
	background-color: #669900;
}
#inputPad4
{
	background-color: #ff8a00;
}

#output
{
	width: 480px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
