
body
{
	background-color: yellow;
	color: white;
	margin: 0px;
	padding: 0px;
}

#allcontent
{
	width: 480px;
	height: 800px;

	padding: 0px;
	
	margin: 0px;
	margin-left : auto;
	margin-right : auto;

	border: 0px;
	
	background-color: white;
}

#mycanvas
{
	width: 480px;
	height: 400px; 
	padding: 0px;
	margin: 0px;
	
}

#controller
{
	width: 100%;
	height: 100px;
	
	padding: 0px;
	margin: 0px;
	margin-left : auto;
	margin-right : auto;
}

#inputTable
{
	width: 100%;
	height: 100px;
	background-color: white;
	border-collapse: collapse;
}

#inputPadZ, #inputPadX, #inputPadC, #inputPadV
{
	width:110px;
	height:100px;
	background-color: red;
}
#inputPadZ
{
	background-color: red;
}
#inputPadX
{
	background-color: green;
}
#inputPadC
{
	background-color: blue;
}
#inputPadV
{
	background-color: violet;
}

#output
{
	width: 480px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	
}
