
body
{
	background-color: #000000;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: "맑은 고딕";
	font-size: 80%;
}

a
{
	text-decoration:none;
	color: #202020;
}

hr
{
	border: solid #c0c0c0 2px;
}

#allcontent
{
	width: 480px;
	height: 800px;

	padding: 0px;
	
	margin: 0px;
	margin-left : auto;
	margin-right : auto;

	border: 0px;
	
	background-color: red;
}

#mycanvas
{
	width: 480px;
	height: 400px; 
	padding: 0px;
	margin: 0px;
	
}

#controller
{
	width: 100%;
	height: 70px;
	
	padding: 0px;
	margin: 0px;
	margin-left : auto;
	margin-right : auto;
}

#inputTable
{
	width: 100%;
	height: 70px;
	background-color: white;
	border-collapse: collapse;
}

#inputPadZ, #inputPadX, #inputPadC, #inputPadV
{
	width:110px;
	height:70px;
	background-color: red;
}
#inputPad1
{
	background-color: #0099cc;
}
#inputPad2
{
	background-color: #9933cc;
}
#inputPad3
{
	background-color: #669900;
}
#inputPad4
{
	background-color: #ff8a00;
}

#output, #submitForm
{
	width: 480px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	
}

#whitebody
{
	background-color: white;
}

.mainlogo
{
	font-family: 'Audiowide', cursive;
	font-size: 500%;
}

.menu
{
	font-family: 'Audiowide', cursive;
	font-size: 300%;
}

#indexmain
{
	border: 2px #000000 solid;
	border-radius: 5px 5px 5px 5px;
	
	width: 480px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
}

#main_logo
{
	width: 15px;
	height: 15px;
}

#main_head
{
	border-radius: 5px 5px 0px 0px;
	border-bottom: solid 2px black;

	/*height: 20px;*/
	color: white;
	font-weight: bold;
	background-color: #aea79f;
	text-align: center;
	padding: 5px;
}

#main_menu
{
	width: 100%;
	margin: 0px;
}

#main_inner
{
	width: 480px;
	text-align: center;
	color:black;
}

th
{
	color: black;
}

td
{
	color:black;
	font-size: 80%;
}

input
{
	border: 1px solid #aaaaaa;
}

.data_table
{
	border: 1px solid #eeeeee;
	width: 100%;
}

.fullSizeButton
{
	width: 450px;
	height: 60px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

#lime_table
{
	border: 1px #eeeeee solid;
}

#footer
{
	text-align: center;
	font-size: 70%;
	color: black;
	width: 480px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
